.nombre1{
    margin:5px;
    float: left;
    background-color: blueviolet;
    border-radius:13%;
    width:150px;
    height:150px;
    text-align: center;
    
}
.nombre2{
    margin:5px;
    float: left;
    background-color: chartreuse;
    border-radius:13%;
    width:150px;
    height:150px;
    text-align: center;
    
}
.nombre3{
    margin:5px;
    float: left;
    background-color: blueviolet;
    border-radius:13%;
    width:150px;
    height:150px;
    text-align: center;
    
}
.nombre4{
    margin:5px;
    float: left;
    background-color: chartreuse;
    border-radius:13%;
    width:150px;
    height:150px;
    text-align: center;
    
}
.nombre5{
    clear: left;
    margin:5px;
    float: left;
    background-color: chartreuse;
    border-radius:13%;
    width:150px;
    height:150px;
    text-align: center;
    
}
.nombre6{
    clear: right;
    margin:5px;
    float: left;
    background-color: blueviolet;
    border-radius:13%;
    width:150px;
    height:150px;
    text-align: center;
    
}
.nombre7{
    clear: right;
    margin:5px;
    float: left;
    background-color: chartreuse;
    border-radius:13%;
    width:150px;
    height:150px;
    text-align: center;
    
}
.nombre8{
    clear: left;
    margin:5px;
    float: left;
    background-color: blueviolet;
    border-radius:13%;
    width:150px;
    height:150px;
    text-align: center;
    
}

.nombre9{
    clear: right;
    margin:5px;
    float: left;
    background-color: chartreuse;
    border-radius:13%;
    width:150px;
    height:150px;
    text-align: center;
    
}
.nombre10{
    clear: left;
    margin:5px;
    float: left;
    background-color: chartreuse;
    border-radius:13%;
    width:150px;
    height:150px;
    text-align: center;
    
}