p {
    text-align: center;
}
table{
    border: solid 5px #4E3990;
    border-collapse: collapse;
    font-size: 22px;
    margin: auto;
    
}
td{
    width: 19%;
    border: 3px dotted #4E3990;
}
thead{
    text-align: center;
    font-weight: 700;
    font-size: 33px;

}
