p{
    text-align: center;
}
td{
    width: 19%;
}
table, th, td{
    border: 1px solid  blue;
    text-align: center;

}
thead{
    
    background-color: #EFF6FF;
    font-weight: 700;
    font-size: 27px;
    border: 1mm ridge #5C91EC;

}



table{
    border-collapse: collapse;
    font-size: 31px;
    margin: auto;
}
#lol{
    border: 1mm ridge #5C91EC
 
}
.tableau{
    border: 2mm ridge #5C91EC;
}
table th, table td {
    border: solid 3px;
  }