h2{
    color: #1A527A;
}
span{
    color: gold;
    
}

table{
    margin: auto;
    border-collapse: collapse;
}
thead{
    font-size: 49px;
    color: aliceblue;
    text-align: center;
        background-color: #0056AD;
       font-size: 91px;
    
    text-transform: uppercase;
}

p{
    margin: auto;
    padding: 22px;
}